<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Fragen</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="show('0')">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alle Fragen</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    @for (question of dataService.currentQuiz().questions; track question.id) {
      <ion-item-sliding>
        <ion-item (click)="show(question.id)">
          {{ question.title }}
        </ion-item>
        <ion-item-options slide="end">
          <ion-item-option color="danger" (click)="deleteQuestion(question)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    }
  </ion-list>
</ion-content>
